div.header {
    background-color: #509bb9;
    border-radius: 3px;
    width : 95%;
    height : 120px;
    position: relative;
    margin: 7px auto 0 auto;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-image: url('img/weighing.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: right;
    background-position-y: bottom;
    border-bottom: 5px solid orange;
;
}

#greeting0 {
    font-size: 14px;
    padding-left: 9px;
    height: 10%;
    color : orange;
    /*background-color: #EEEEEE;*/
    background-color: #1E3F66;
    font-weight: bolder;
    opacity: 1;
    padding-right: 4px;
}

#greeting1 {
    font-size: 10px;
    padding-left: 9px;
    display : flex;
    align-items: flex-end;
    height: 30%;
    font-weight: bold;
}
#greeting2 {
    font-size: 16px;
    padding-left: 7px;
    margin-top: 0;
    font-weight: bold;
}

div.backMenu {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    width : 95%;
    height : 20px;
    position: relative;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    margin: 7px auto 0 auto;
    display: flex;
    font-family: 'Montserrat';
    font-size: 11px;
    flex-direction:row;
    flex-wrap: no-wrap;
    justify-content: center;
    background-color: #EEEEEE;
    color :#0098BA;
    font-weight: bold;
    padding: 5px 0;

}

div.backMenu a {
    color : #0098BA;
    text-decoration: none;
}

div.menu {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    width : 95%;
    height : 50px;
    position: relative;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    /*padding-top: 15px;*/
    margin: 7px auto 0 auto;
    display: flex;
    flex-direction:row;
    flex-wrap: no-wrap;
    justify-content: center;

}

div.captionMenu {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    width : 95%;
    height : fit-content;
    /*height : 25px;*/
    position: relative;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    /*padding-top: 15px;*/
    margin: 0 auto 0 auto;
    display: flex;

}


.credits {
    position: relative;
    width: 95%;
    height :fit-content;
    margin-top: 7px;
    left : 0;
    right : 0;
    font-size: 11px;
    display : grid;
    font-family: 'Poppins', sans-serif;
    margin: 7px auto 0 auto;
    /*border: 2px solid grey;*/
}

.credits p {
    color: #38C;
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0px;
    text-align: justify;
}

fieldset.creditTitle {
    border: 2px solid #509bb9; 
    border-top-color: #509bb9;
    border-radius: 6px;
    box-sizing: border-box; 
    /*grid-area: 1 / 1; 
    padding: 5px;*/ 
    width: 100.5%;
    margin-left: -1px;
    background-color: #FFFFFF; 
    /*position: absolute;
    display : inline-block;*/
}

legend.legendTitle {
    font-size: 13px; 
    padding: 0 4px; 
    width : auto;
    background-color: #38C;
    color: #FFFFFF;
    font-weight: 400;
}


.column {
    float: left;
    width: 25%;
    height: 50px;
    background-position: center;
    background-color: #EEEEEE;
    border-radius: 6px;
}

.column:first-child {
    background-image: url("img/manufacturing-plant.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 4px;
    width : 25%;
}

.column:nth-child(2) {
    background-image: url("img/partners.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 4px;
    width : 24%;
}

.column:nth-child(3) {
    background-image: url("img/petrol.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 4px;
    width : 23%;
}

.column:nth-child(4) {
    background-image: url("img/scale-up.png");
    background-repeat: no-repeat;
    background-size: contain;
    width : 24.5%;
}


.captionMenu:after {
    content: "";
    display: table;
    clear: both;
}


.caption {
    float: left;
    width: 25%;
    height: 25px;
    font-size: 10px;
    font-weight:bold;
    font-family: 'Montserrat';
    color : #0098BA;
    /*border: 1px solid black;*/
}
/*
.main {
    width : 95%;
    border : 1px solid #509bb9;
    border-radius: 3px;
    position: relative;
    height : 400;
    margin: 7px auto 0 auto;
    margin-top: 10px;
}
*/

.main{
    width: 95%;
    /*border : 2px solid #509bb9;*/
    border-radius: 6px;
    position: relative;
    height : 450px;
    margin: 7px auto 0 auto;
    font-size: 10px;
    margin-top: 10px;
    background-image: url("img/manjaro.jpg");
    background-size: 100% 100%;
}

.mainContent {
    height : 400px;
    width : 90%;
    border-radius: 6px;
    position: relative;
    margin-left : auto;
    margin-right: auto;
    background-color: #000000;
    opacity: 0.7;
    top : 25px;
    text-align: center;

    display: flex;
    overflow-x: auto;

    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
  
  
}

.mainContent > div {
    /* CURRENT way. */
    scroll-snap-align: start;
}

.mainContent.hidden {
    display : none;    
}

.uttpDiv {
    width: 95%;
    height : 90%;
    position: absolute;
    /*left : 4.25%;*/
    background-color: #000000;
    top : 20px;
    border-radius: 6px;
    opacity: 1;
    border: 3px solid #FFFFFF;
    padding : 5px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
    justify-content: space-between;
    overflow : auto;
    scrollbar-color: #38c red;
}


.uttpDiv.hidden {
    display : none;	
}

.uttpDiv div {
    width : 48%;
    height : 145px;
    background-color : #000000;
    margin : 2px 2px 15px 2px;
    background-size : cover;
    background-repeat : no-repeat;
    display : grid;
    
}

.jmlhDiv {
    width: 95%;
    height : 90%;
    position: absolute;
    /*left : 4.25%;*/
    background-color: #1E3F66;
    top : 20px;
    border-radius: 6px;
    opacity: 1;
    border: 3px solid #FFFFFF;
    padding : 5px;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    opacity: 0.95;
    justify-content:center;
    overflow-y:scroll;
    /*justify-content: center;
    overflow : auto;
    scrollbar-color: #38c red;*/
}


.jmlhDiv.hidden {
    display : none; 
}

.jmlhDiv h1 {
    font-family: 'Poppins', sans-serif;
    color : #FFFFFF;
    z-index: 10;
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
    display: grid;
}

.spe input{
    margin: auto;
}

.subContent {
    height : 350px;
    width : 100%;
    border-radius: 6px;
    position: relative;
    margin-left : auto;
    margin-right: auto;
    top : 15px;
    border-top: 3px solid orangered;
    border-bottom: 3px solid orangered;
    flex-shrink: 0;
}

.subContent .title {
    height : 10%;
    width: 100%;
    position: relative;
    background-color: orangered;
    color : #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding-top: 8px;
    opacity: 1;
}

.form_data {
    display: block;
    margin-top: 8px;
    width : 90%;
    background-color : #000000;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    outline: none;
    border: 2px solid orange;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 15px;
}

.form_data:focus {
    outline: none;
    border: 4px solid #92DFF3;
}

#setJml {
    background-color: #000000;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width :fit-content;
    color : #FFFFFF;
    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    box-shadow: 4px 4px #999;
}

#setJml:active {
    box-shadow: 0 2px #999;
    transform: translateY(2px);
}

#next {
    background-color: #1E3F66;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width : 70%;
    color : #FFFFFF;
    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#next:active {
    background-color: orangered;
    transform : translateY(2px);
}

#back {
    background-color: #1E3F66;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width : 90px;
    color : #FFFFFF;
    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-right: 5px;
}

#back:active {
    background-color: orangered;
    transform : translateY(2px);
}

#sbmt {
    background-color: #ff6565;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width : 90px;
    color : #FFFFFF;
    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#sbmt:active {
    background-color: orangered;
    transform : translateY(2px);
}

.shopChart {
    position: relative;
}

.addDiv {
    position: relative;
    width:100px;
    height:100px;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin-left:auto;
    margin-right : auto;
    top : 25%;
    justify-content: center;
    color : #000000;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
}

.backBtnDiv {
    position: relative;
    width:100px;
    height:100px;
    border-radius: 3px;
    margin-left:auto;
    margin-right : auto;
    top : 25%;
    justify-content: center;   
    color : #000000;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    display: flex;
}


.addDiv:active {
    background-color: #000000;
    transform: translateY(2px);
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

}

#klik {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-top: -30px;
    position: relative;
    font-weight: bold;
}


li {
    color : #38C;
    font-weight: 500;
}

a {
    color : #38C;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.listFieldset {
    border: 10px solid transparent; 
    border-top-color: #1E3F66; 
    box-sizing: border-box; 
    grid-area: 1 / 1; 
    padding: 20px; 
    width: auto; 
    font-family : 'Montserrat';
    font-size: 10px;
    color : #FFFFFF;
    font-weight: 500;
}

.listLegend {
    background-color: #1E3F66;
    /*font-size: 10px;*/
}

.tutorial {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    width : 98%;
}

.tutorial div {
    /*width : 355px;*/
    width : 100%;
    /*height : 70px;*/
    height : fit-content;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 4px;
    opacity : 0.85;
    font-family: 'Montserrat';
    font-size: 12px;
    padding : 2px 3px 3px 8px;
    font-weight: 800;

}

.tutorial.hidden {
    display: none;
}

.tutorial div:nth-child(1) {
    background-color: #FFFFFF;
    color : #000000;
    margin-top: 25px;
}

.tutorial div:nth-child(2) {
    background-color: #900a0a;
    color : #FFFFFF;
    font-weight: 100;
}

.tutorial div:nth-child(3) {
    background-color: #000000;
    color : #FFFFFF;
    font-weight: 100;

}

.tutorial div:nth-child(4) {
    background-color: #FFFFFF;
    color : #000000;
}

.loadingSelect {
    position: absolute;
    width: 102%;
    height : 120px;
    /*background-color: #FFFFFF;
    opacity: 0.8;*/
    top: -2px;
    left:-3px;
    z-index: 5;
}

.ld1 {
  width : 100%;
  height : 100%;
  top : 0;
  left : 0;
  background-color: #FFFFFF;
  opacity: 0.9;
}

.ld1.hidden {
    display: none;
}

.ld2 {
  width : 100%;
  height : 100%;
  top : 0;
  left : 0;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 40%;
    top: 20%;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #ff6600;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 100px;
    height: 32px;
  }
}

div.judl {
    width : 94%;
    height: 20px;
    border-radius: 3px;
    background-color: black;
    padding : 0 3px 3px 3px;
}

.judl .closeHref {
    font-weight: bolder;
    font-family: 'Montserrat';
    font-size: 16px;
    color : #FFFFFF;
}

.shopChart table {
    background-color: #1E3F66;
    border : 1px solid #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-collapse:collapse;
}

.shopChart table td {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 800;
    color : #FFFFFF;
    text-align: left;
    border : 1px solid #FFFFFF;
    border-collapse:collapse;
    padding-left: 4px;
    padding-right: 4px;
}

.shopChart table td:nth-child(4), .shopChart table td:nth-child(5) {
    text-align: right;
}

.shopChart table thead td {
    
    background-color: #ff6565;
    font-weight: bolder;
    color : #FFFFFF;
    text-align: center;
    vertical-align: middle;
}

.shopChart #tabelPabrik thead td {
    background-color: #D3D3D3;
    color : #000000;
}

.shopChart #tabelLoko thead td {
    background-color: #D3D3D3;
    color : #000000;
}

.shopChart #tabelLoko tbody td {
    background-color: #3399CC;
}

td.icon {
    background-image: url('img/del.png');
    background-repeat: no-repeat;
    background-size: contain;
    width : auto;
    height : auto;
    text-align: center;
    background-position: center;
}

.closeFormJml {
    color : #ffffff;
    font-size: 14px;
    margin-right: 10px;
}

.closeFormJml span {
    color : red;
}
/*style="background-image:url(../uploadimages/18-2-2013-23-33-01-Lighthouse.jpg);background-repeat:no-repeat;background-size:250px 180px;   width: 250px; height: 180px;"*/

.loadingBar {
    position: absolute;
    width: 100%;
    height : 100%;
    background-color: #000000;
    opacity: 0.8;
    top: -2px;
    z-index: 5;
    align-content: center;
}

/*
.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
*/

.loader {
  border: 12px solid #ffffff; 
  border-top: 12px solid #76d3fe;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  top: 30%;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: absolute;
}

.loadertxt {
  width: 100px;
  height: 100px;
  top: 60%;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: absolute;
  background-color: #ffffff;
  color : #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border: 12px solid #ffffff;
  text-align: center;
  border-radius: 6px;
}

.loadingBar.hidden {
    display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}