body:not() {
    justify-content: center;
    background-color: #FFFFFF;
}

div.header {
    background-color: #509bb9;
    border-radius: 3px;
    width : 95%;
    height : 120px;
    position: relative;
    margin: 7px auto 0 auto;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-image: url('img/weighing.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: right;
    background-position-y: bottom;
    border-bottom: 5px solid orange;
;
}

#greeting1 {
    font-size: 10px;
    padding-left: 7px;
    display : flex;
    align-items: flex-end;
    height: 60%;
}
#greeting2 {
    font-size: 15px;
    padding-left: 7px;
    margin-top: 0;
}

div.menu {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    width : 95%;
    height : 50px;
    position: relative;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    /*padding-top: 15px;*/
    margin: 7px auto 0 auto;

}

div.captionMenu {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    width : 95%;
    height : 25px;
    position: relative;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    /*padding-top: 15px;*/
    margin: 0 auto 0 auto;

}

.footer * :not(ul, li, a) {
    all:unset;
}

.credits {
    position: relative;
    width: 95%;
    height :fit-content;
    margin: 7px auto 0 auto;
    font-size: 11px;
    display : grid;
}

.credits p {
    color: #38C;
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0px;
}

fieldset.creditTitle {
    border: 2px solid #509bb9; 
    border-top-color: #509bb9;
    border-radius: 3px;
    box-sizing: border-box; 
    grid-area: 1 / 1; /* first row, first column */
    padding: 5px; 
    width: 100%;
    background-color: #FFFFFF; 
    position: absolute;
}

legend.legendTitle {
    font-size: 13px; 
    padding: 0 4px; 
    width : auto;
    background-color: #38C;
    color: #FFFFFF;
    font-weight: 400;
}

.column {
    float: left;
    width: 25%;
    height: 50px;
    background-position: center;
}

.column:first-child {
    background-image: url("img/manufacturing-plant.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.column:nth-child(2) {
    background-image: url("img/partners.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.column:nth-child(3) {
    background-image: url("img/petrol.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.column:nth-child(4) {
    background-image: url("img/scale-up.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.captionMenu:after {
    content: "";
    display: table;
    clear: both;
}


.caption {
    float: left;
    width: 25%;
    height: 25px;
    font-size: 10px;
    font-weight: 700;
}

.main{
    width: 95%;
    border : 2px solid #509bb9;
    border-radius: 3px;
    position: relative;
    height : fit-content;
    margin: 0 auto 0 auto;
    /*background-color: #509bb9;*/
    font-size: 10px;
    margin-top: 10px;
    padding : 5px 5px 0 5px;
}

li {
    color : orangered;
    font-weight: 500;
}

/* form style */
.ui-mobile label, div.ui-controlgroup-label {
    font-weight: 700;
    font-size: 12px;
}

label {
    font-family: 'Montserrat';
    color : #38C;
    margin-left: 10px;
    width : 80%;
}

.ui-mobile label, .ui-controlgroup-label {
    display: block;
    margin: 10px 0 0 10px;
}

input, select {
    border : none;
    width : 80%;
    margin : 4px 0;
    margin-top : 4px ;
    padding : 2px 8px;
    margin-left: 10px;
    border-bottom : 1px solid #008CBA;
    font-size: 12px;
    font-family: 'Montserrat';
    color : #008CBA;
    font-weight: 800;
}

input:focus {
    outline: none;
    border: 3px solid #008CBA;
}

div .formWTU, div .formWTU2 {
    width : 50%;
    height : 90%;
    display: inline-block;
    background-color: #FFFFFF;
    vertical-align: top;
    position: relative;
}

span.thisForm, span.thisForm2 {
    background-color: #008CBA;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

hr {
    border: 3px solid #008CBA;
}

span.thisForm, span.thisForm2 {
    color : #FFFFFF; 
    font-family : 'Montserrat';
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.carousel-control-prev,
.carousel-control-next{
    align-items: flex-end;; /* Aligns it at the bottom */
    border: 2px solid white;
    opacity: 1;

}

button.ui-btn {
    width: 49%;
}

.ui-btn {
    display: inline;
    background-color: black;

}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
    background-color: orange;
    border-color: #ddd;
    color: #333;
}

#carouselExample {
    width: 100%;
    height: auto;
    position: absolute;
}

.ui-input-text input, .ui-input-search input {
    border : 1;
}